/*<!-- LearnPy -->
<!-- 11/09/2019 -->
<!-- Css Template -->*/

/*
push to get footer to stay on bottom of page
*/
html, body {
	height: 100%;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	background-color:#f9f3ed;
}
.content {
	padding: 20px;
	min-height: 100%;
	margin: 0 auto -30px;
}
.footer,
.push {
	height: 30px;
}

/*
Header section
*/
#header{
	background-color:black;
	color:white;
	height:30px;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	display:inline;
}
#header a{
	color:white;
	padding:1em;
	display:inline;
	text-decoration:none;
	transition: color 0.2s ease;
}
#header a:link{
	color:white;
	
}
#header a:visited{
	color:white;
}
#header a:hover{
	color:orange;
}
#header a:active{
	color:white;
}
#leftLinks{
	padding-top:.5em;
	padding-bottom:.25em;
	float:left;
}
#rightLinks{
	padding-top:.5em;
	padding-bottom:.25em;
	float:right;
}

/*Header2*/
#mobile{
	display:none;
}
#header2{
	color:gray;
	top:2em;
	left:0px;
	width:100%;
	position:absolute;
	
}
#header2 img{
	margin-left:2em;
	margin-top:1em;
}
#header2 a{
	text-decoration:none;
	transition: color 0.3s ease;
}
#header2 a:link{
	
	color:gray;
}
#header2 a:visited{
	color:gray;
}
#header2 a:hover{
	color:lightgray;
	
}
#header2 a:active{
	color:orange;
}
#h2Links{
	padding:1em;
	padding-bottom:0em;
	display:inline;
	text-decoration:none;
	font-size:40px;
}
#h2Links a{
	color:gray;
	padding:1em;
	padding-bottom:0em;
	display:inline;
	text-decoration:none;
}

/*
Content Section
*/
#content{
	margin-right:2em;
	margin-left:2em;
	margin-top:9em;
	padding:1em;
	
}

#content p a {
    text-decoration: none;
    text-transform: uppercase;
    color: cadetblue;
}

#content p a:hover{
    color: burlywood;
    text-decoration: underline;
}

#content h2{
	font-size:60px;
}
#content p{
	font-size:25px;
	padding-left:2em;
}
/*
Footer Section
*/
footer{
	background-color:black;
	width:100%;
	color:white;
	height:30px;
}
#footerLinks{
	padding-top:.5em;
	padding-bottom:.25em;
	float:center;
	left:45%;
	position:absolute;
}
footer a{
	color:white;
	padding:1em;
	padding-bottom:0em;
	display:inline;
	text-decoration:none;
	transition: color 0.2s ease;
}
footer a:link{
	color:white;
}
footer a:visited{
	color:white;
}
footer a:hover{
	color:orange;
}
footer a:active{
	color:white;
}



/*
MEDIA QUERIES
*/
@media screen and (max-width: 1028px){
	#h2Links{
		padding-left:1em;
	}
	#h2Links a{
		padding:0em;
	}
}
@media screen and (max-width: 900px){
	#mobile{
		display:inline;
	}
	#desktop{
		display:none;
	}
}
@media screen and (max-width: 635px){
	#h2Links{
		padding-left:0em;
		font-size:30px;
	}
	#header a{
		padding:0em;
	}
	#h2Links{
		display:block;
		padding-left:1em;
	}
	#content{
		margin-top:11em;
		margin-right:.5em;
		margin-left:.5em;
	}
	#content p{
		font-size:25px;
		padding-left:.5em;
	}
}