.correct{
	border: 6px solid green;
}
.wrong{
	border: 6px solid red;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 100%;
  width: 12px;
  height: 12px;

  border: 1px solid black;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
